<div id="form-wrapper">
    <h1>Create Event </h1>
    <form id="signupForm" >
        <div  class="formgroup">
            <label>title</label>
            <input type="text" name="title" id="title"  formControlName="title">
        </div>

        <div  class="formgroup">
            <label>tourType</label>
            <input type="text" name="tourType" id="tourType" formControlName="tourType">
        </div>

        <div  class="formgroup">
            <label>destination</label>
            <input type="text" name="destination" id="password" formControlName="destination">
        </div>

        <div  class="formgroup">
            <label>price</label>
            <input type="text" name="price" id="price" formControlName="price">
        </div>

        <div  class="formgroup">
            <label>availableDate</label>
            <input type="date" name="availableDate" id="availableDate" formControlName="availableDate">
        </div>

        <div  class="formgroup">
            <label>image</label>
            <input type="text" name="confirmPasword" id="image" formControlName="image">
        </div>



        <div class="formgroup">
            <button type="submit" >Create event</button>
        </div>
       
    </form>

</div>

