<div id="form-wrapper">
    <h1>Log in </h1>
    <form id="signupForm" [formGroup]="login" (ngSubmit)="userAuthentication()">
       

        <div class="formgroup">
            <label>Email</label>
            <input type="text" name="email" id="email" formControlName="email">
            <div *ngIf="email?.errors && email!.invalid &&email!.touched">
                <div *ngIf="login.get('email')?.hasError('required')" [style.color]="textColor "[style.font-size.rem]="fontSize">email is required</div>
            </div>
        </div>

        <div  class="formgroup">
            <label>Password</label>
            <input type="password" name="password" id="password" formControlName="password">
            <div *ngIf="password.errors && password!.invalid &&password!.touched">
                <div *ngIf="login.get('password')?.hasError('required')" [style.color]="textColor "[style.font-size.rem]="fontSize">password is required</div>
            </div>
        </div>

      

        <div class="formgroup">
            <button type="submit">Log in</button>
        </div>
        <p><a routerLink="/signup" style="color:white">New user? Sign up</a></p>
    </form>

</div>