/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap');


:root {
    --main-bg-color: #F5F5F5;
    --secondary-bg-color: #F1F0F0;
    --drop-shadow: drop-shadow(0 1px 1px rgba(0,0,0,0.1));
    --theme-purple-color: #832BCE;
    --theme-lighter-purple: #b42bce;
    --main-blue-color: #2DD3DB;
    --default-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    --secondary-blue-color: #1a73e8;
    --light-green: #23D18B;
    --light-red: #F9685E;
    --admin-background-color:#2c2c38;
    --admin-cards-bg-color:#21212d;
}
*{
    font-family: 'Jost', 'Montserrat', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    min-height: 100svh;
    width: 100%;
}
app-root {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100svh;
    width: 100%;
}
app-landing-page,app-sign-up,app-sign-in{
    flex:1;
    background:url("./assets/cosmic-timetraveler-jQvOExlroYA-unsplash.jpg");
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color:rgb(19, 2, 2);

}

app-add-reviews{
    flex:1;  
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    flex-shrink: 1;
    /* width:100%; */
    height:inherit;
    background-color:rgb(20, 19, 19);
    background-color: rgba(51, 50, 50, 0.5);
    backdrop-filter: blur(2px); /* Adjust the blur effect as needed */
    position:relative;
    top:-30rem;
    left:0rem;

}

app-landing-page::before,app-login::before,app-signup::before,app-add-reviews::before{
    content:"";
    background: rgb(255, 255, 255);

}
app-admin-dashboard,app-users,app-user-profile,app-events,app-bookings,app-user-dashboard,app-user-events,app-user-bookings{
    flex:1;
    /* border:2px solid red; */ 
    display:flex;
    justify-content: center;
    /* align-items:center; */
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color:grey;
}
app-add-event,app-event-edit{
    flex:1;
    /* border:2px solid red; */ 
    display:flex;
    justify-content: center;
    /* align-items:center; */
    flex-wrap: wrap;
    flex-shrink: 1;
    color:rgb(161, 125, 125);

}
#flash-messages {
    position: fixed;
    z-index: 999;
    top: 5svh;
    right: 5svw;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: min(400px, 60svw);
}
app-flash-messages {
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.9;
    border-radius: 5px;
}

.error {
    background-color: var(--light-red);
}

.success {
    background-color: var(--light-green);
}

.info {
    background-color: gray;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
